{% extends "recip/base.html" %}
{% block content %}
    {% for recip in recips %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ recip.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
            </div>
            <h2><a class="article-title" href="{% url 'recip-detail' recip.pk %}">{{ recip.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}